a:link, a:visited {
    background-color: palegreen;
    color: rgb(5, 54, 5);
    padding: 10px 10px;
    margin-top: 8px;
    text-align: center;
    display: inline-block;
}
a:hover, a:active {
    color: blueviolet;
    background-color: lightpink;
}
body {
    text-align: center;
    background-color: blanchedalmond;
}